<% layout('layout/boilerplate') %>
<%- include('./partials/navbar')%>
<link rel="stylesheet" href="/stylesheets/input.css">  
<link rel="stylesheet" href="/stylesheets/button.css"> 
<link rel="stylesheet" href="/stylesheets/noevent.css">
<link rel="stylesheet" href="/stylesheets/nouserevent.css">
<div class="all-event">
    <a class="all-event-button" href="/calendar" >All Events</a>
    <a href="/mycalendar" class="calendar-button">My Calendar</a>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12  col-lg-12">
        <div class="card">
            <div class="card-body">
                <p class="all">All Events</p>
                <div class="text-center">
                <img src="/assets/bg/nodata.png" class="no-data" alt="">
                <br>
                
            </div>
            </div>
        </div>
</div>
</div>
</div>